:root {
    --primary-green: #066931;
    --text-dark: #1a202c;
    --text-light: #718096;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(rgba(240, 244, 248, 0.9), rgba(240, 244, 248, 0.9));
    background-size: cover;
    background-position: center;
}